<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='/style.css') }}">
    <title>Recipes</title>
</head>
<body class="mx-auto p-3">
    <h2 class="custom-border-top text-left p-2 mx-5"> Welcome {{user.first_name}} </h2><br/> <!--self closing tag-->
    <div class="d-flex justify-content-around">
        <h4> All posted recipes<h4>
        <a href='/recipes/new' class="my-3 "> Create |</a>
        <a href="/recipes">Back to recipes |</a> 

        <a href='/logout' class="my-3 p-2"> Logout </a>
    </div>
    <table class="table table-secondary mx-5 w-75 ">
        <thead>
            <tr>
                <th scope="col">Liked Recipes</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipe.likes %}
                {% if recipe.id == recipe.likes.user_id in recipe.likes|map(attribute='id')%}
                <tr>
                    <td>
                        {{recipe.name}}
                    </td>
                {% endif %}
            {% endfor %}
                </tr>
        </tbody>
    </table>
</body>
</html>